---
import Bluesky from "../components/Bluesky.astro";
import Fallback from "../components/Fallback.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gradient-to-br from-purple-600 to-red-500">
		<div class="max-w-2xl mx-auto flex flex-col items-center justify-center min-h-screen ">
			<h1 class="text-4xl mb-10 font-bold text-white">Astro Server Component for Bluesky</h1>
			
			<Bluesky actor="brob.dev" server:defer>
				<Fallback slot="fallback" />
			</Bluesky>
			<Bluesky actor="astro.build" server:defer>
				<Fallback slot="fallback" />
			</Bluesky>
		</div>

	</body>
</html>
