---
import Reduced from "../components/Reduced.astro"
export const prerender = false
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gradient-to-br from-purple-600 to-red-500">
		<div class="max-w-2xl mx-auto flex flex-col items-center justify-center min-h-screen ">
			<Reduced server:defer />
		</div>

	</body>
</html>
