<div class="bg-white p-4 mx-auto max-w-[600px] rounded-xl w-full">
    <div class="animate-pulse">
        <div class="grid grid-cols-[min-content,1fr] space-x-4 mb-4 items-center">
            <div class="rounded-full bg-gray-300 h-12 w-12"></div>
            <div >
                <div class="h-5 mb-1 bg-gray-300 rounded w-1/2"></div>
                <div class="h-3 w-1/4 bg-gray-300 rounded"></div>
            </div>
        </div>
        <div class="flex-1 space-y-4 py-1">
            
            <div class="space-y-2">
                <div class="h-2 bg-gray-300 rounded"></div>
                <div class="h-2 bg-gray-300 rounded w-7/8"></div>
                <div class="h-2 bg-gray-300 rounded w-5/6"></div>
            </div>
        </div>
    </div>
</div></div>