---
import { CacheHeaders } from "cdn-cache-control";

export const prerender = false;

const currentTime = await new Promise((resolve) => {
    setTimeout(() => {
        resolve(new Date().toLocaleString());
    }, 100);
});

// Caching
const headers = new CacheHeaders().ttl(1800);
headers.forEach((value, key) => Astro.response.headers.set(key, value))
---


<h1>{currentTime}</h1>
